doctype 
//
  Author: Juan Antonio Aguilar [jasset] 2015
  Website: http://jasset.me.uk
  Project Boletus
html(lang='en')
  include ./partials/header   
  //- body    
  body
    block page-content
    include ./partials/footer